<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/style.css">
        <title>Split English Sentences</title>  
    </head>
    <body>
        <div class="body2">
        <h1>Split English Sentences</h1>
        <h4>Please input your sentence below</h4>
        <form action="/" method="POST">
            <div class="form1">
                <!--<label for="name">DATE</label><br>-->
                <!--<input type="date" size="40"></input><br><br>-->
                <!--<label for="name">USER_NAME</label><br>-->
                <!--<input type="text" size="70"><br><br>-->
                <label for="name">SENTENCE</lable><br>
                <textarea name="text">{{ text }}</textarea><br><br>
                <input type="submit" value="SUBMIT" class="sub_button"></input>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="reset" value="RESET" class="reset_button"></input>
            </div>
        </form>
        <br><br>
        <div class="result">
        <span><font size="4"><strong>The English sentence you've input</strong></font></span><br><br>
        <font>{{ text }} </font>
        </div>
        <br><br>
        <h4>RESULT</h4><br><br>
        <tr text-align="center">{{ total | safe }}</tr>
        <!--<script src="/static/js/main.js"></script>-->
        </div>
    </body>
    <footer>
    <p>COPYRIGHT &#169; TNOCE.COM ALL RIGHTS RESERVED.	</p>
    </footer>
            
</html>