<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/style.css">
        <title>英文分割</title>  
    </head>
    <body>
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
        <h1>英文分割</h1>
        <p>以下フォームに英文を貼り付けてください</p>
        <form action="/" method="POST">
            <div class="form1">
                <label for="name">日付</label><br>
                <input type="date"></input><br><br>
                <label for="name">利用者名</label><br>
                <input type="text"><br><br>
                <label for="name">英文</lable><br>
                <textarea rows="10" cols="40" name="text">{{ text }}</textarea><br>
                <input type="submit" value="SUBMIT"></input>
                <input type="reset" value="リセット"></input>
            </div>
        </form>
        <br><br>
        <span><font size="5"><strong>↓↓あなたの入力した英文</strong></font></span><br><br>
    <font size="2">{{ text }} </font>
    <br><br>
    <span><font size="5"><strong>↓↓結果</strong></font></span><br><br>
    <p>{{ total }}</p>
    </body>
</html>
