<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>英文解釈</title>  
  </head>
  
  <body>
    <h1>英文分割</h1>
    <p>以下フォームに英文を貼り付けてください</p>
    
    <form action=”#” method=”POST”>
      <div class="form1">
        <label for="name">日付</label><br>
        <input type="date"></input><br><br>
        <label for="name">利用者名</label><br>
        <input type="text"><br><br>
        <label for="name">英文</lable><br>
        <textarea rows="10" cols="40"></textarea><br>
      <input type="submit" value="SUBMIT"></input><br>
    <a href="#" class="button">BUTTON</a>
      </div>
    </form>
    
  </body>
</html>
